body {
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

h3 {
  border-bottom: 2px solid #abdabd;
}
main {

}

.customer {
  text-align: center;
  /*border: 2px solid black;*/
  width: 300px;
  padding: 10px;

}


.address {
  text-align: center;
  margin: 10px;
}
